<% layout("/layouts/simplelayout") %>

<body>
    <% if (success && success.length > 0) { %>
        <div class="flash-message flash-success">
            <% success.forEach(function(message) { %>
                <p><%= message %></p>
            <% }); %>
        </div>
    <% } %>
    <% if (error && error.length > 0) { %>
        <div class="flash-message flash-error">
            <% error.forEach(function(message) { %>
                <p><%= message %></p>
            <% }); %>
        </div>
    <% } %>
    <div class="main-form-container">
        <div class="form-container">
            <h1 class="signup-heading" >Login <a class="navoptions" href="/home">Home</a> </h1>
            <form class="signup" action="/login" method="post">
                <div class="input-group">
                    <label class="lbl" for="username">Username:</label>
                    <input class="inp" type="text" id="username" name="username" required>
                </div>
                
                <div class="input-group">
                    <label class="lbl" for="password">Password:</label>
                    <input class="inp" type="password" id="password" name="password" required>
                </div>
                
                <button class="btn" type="submit">Login</button>
            </form>
        </div>
    </div>
</body>