<% layout("/layouts/boilerplate") %>

<body>
    <div class="content">
        <h1>Create Report</h1>
        <div class="report-form-container">
            <form class="report-form" method="post" action="/reports">
                
                <label class="report-label" for="reportName"> Name of Your Report </label>
                <input class="report-input" id="reportName" name="name" type="text" placeholder="Report Name">

                <label class="report-label" for="reportIncome"> Income </label>
                <input class="report-input" id="reportIncome" name="incomeAmount" type="text" placeholder="Income">

                <label class="report-label" for="reportDescription"> Description </label>
                <input class="report-input" id="reportDescription" name="description" type="text" placeholder="Report Description">

                <button class="btn-add-report">Add</button>
            </form>
        </div>
    </div>
</body>