<% layout("/layouts/boilerplate") %>

<body>
    <div class="content">
        <h1> All Your Reports</h1>
        <div class="reports-container">
            <% for(let report of reports) { %>
                <a href="/reports/<%= report._id %>" class="card-link">
                    <div class="card">
                        <p class="report-name"><%= report.name %></p>
                        <p class="report-description"><%= report.description %></p>
                        <p class="report-income">Income: $<%= report.incomeAmount %></p>
                    </div>
                </a>
            <% } %>
        </div>
    </div>
</body>