<% layout("/layouts/simplelayout") %>

<body>
    <div class="main-form-container">
        <div class="form-container">
            <h1 class="signup-heading"> Sign Up <a class="homeTag" href="/home">Home</a> </h1>
            <form class="signup" action="/signup" method="post">
                <div class="input-group">
                    <label class="lbl" for="username">Username:</label>
                    <input class="inp" type="text" id="username" name="username" required>
                </div>
                
                <div class="input-group">
                    <label class="lbl" for="email">Email:</label>
                    <input class="inp" type="email" id="email" name="email" required>
                </div>
                
                <div class="input-group">
                    <label class="lbl" for="password">Password:</label>
                    <input class="inp" type="password" id="password" name="password" required>
                </div>
                
                <button class="btn" type="submit">Sign Up</button>
                <p style="text-align: center;" >Already have an account? <a href="/login">login</a></p>
            </form>
        </div>
    </div>
</body>