<% layout("/layouts/simplelayout") %>

<body>
    <div class="main-form-container">
        <div class="form-container">
            <h1 class="signup-heading" >Sign Up</h1>
            <form class="signup" action="#" method="post">
                <div class="input-group">
                    <label class="lbl" for="username">Username:</label>
                    <input class="inp" type="text" id="username" name="username" required>
                </div>
                
                <div class="input-group">
                    <label class="lbl" for="email">Email:</label>
                    <input class="inp" type="email" id="email" name="email" required>
                </div>
                
                <div class="input-group">
                    <label class="lbl" for="password">Password:</label>
                    <input class="inp" type="password" id="password" name="password" required>
                </div>
                
                <button class="btn" type="submit">Sign Up</button>
            </form>
        </div>
    </div>
</body>